#latest{
	padding: 50px 0;
}


#latest .header{
	padding: 50px 0;
}

#latest .header:after{
	content: "";
	display: table;
	clear: both;
}

#latest .header h1{
	color: #6066f2;
	font-size: 4.2rem;
	max-width: 400px;
	width: 100%;
	float: left;
	display: inline-block;
}

#latest .header .directions{
	float: right;
	display: inline-block;
	position: relative;
	top: 35px;
}

#latest .header .directions .move-left {
	float: left;
	padding: 20px 70px;
	font-size: 3rem;
	background: #6066f2;
	color: white;
	border: 1px solid #6066f2;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

#latest .header .directions .move-right {
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	float: left;
	padding: 20px 70px;
	font-size: 3rem;
	background: white;
	color: #cecece;
	border: 1px solid #cecece;
}

#latest .body{
	padding: 100px 0;
}

#latest .body:after{
	content: "";
	display: table;
	clear: both;
}

#latest .body .column{
	width: 33.33%;
	float: left;
	padding: 0 15px;
	text-align: center;

}

#latest .body .column:nth-child(1) .bg-square{
background: #ff6532; /* Old browsers */
background: -moz-linear-gradient(-45deg, #ff6532 0%, #3071f2 50%, #efefef 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #ff6532 0%,#3071f2 50%,#efefef 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #ff6532 0%,#3071f2 50%,#efefef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
width: 300px;
height: 300px;
margin: 0 auto;
position: relative;
}


#latest .body .column:nth-child(2) .bg-square{
background: #e7ff32; /* Old browsers */
background: -moz-linear-gradient(-45deg, #e7ff32 0%, #92ff32 50%, #4c4c4c 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #e7ff32 0%,#92ff32 50%,#4c4c4c 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #e7ff32 0%,#92ff32 50%,#4c4c4c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
width: 300px;
height: 300px;
margin: 0 auto;
position: relative;
}


#latest .body .column:nth-child(3) .bg-square{
background: #ee30f4; /* Old browsers */
background: -moz-linear-gradient(-45deg, #ee30f4 0%, #291670 50%, #ffffff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #ee30f4 0%,#291670 50%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #ee30f4 0%,#291670 50%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
width: 300px;
height: 300px;
margin: 0 auto;
position: relative;
}




#latest .body .column .bg-square img{
	width: 80%;
	position: absolute;
	top: -30%;
	left: 10%;
	
}


#latest .body .column:nth-child(1) .bg-square .cart{
	width: 94px;
	height: 94px;
	border: 10px solid white;
	position: absolute;
	top: -47px;
	right: -47px;
	border-radius: 50%;
	background: #ff6532; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #ff6532 0%, #3071f2 50%, #efefef 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #ff6532 0%,#3071f2 50%,#efefef 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #ff6532 0%,#3071f2 50%,#efefef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	color: white;
}


#latest .body .column:nth-child(2) .bg-square .cart{
	width: 94px;
	height: 94px;
	border: 10px solid white;
	position: absolute;
	top: -47px;
	right: -47px;
	border-radius: 50%;
	background: #e7ff32; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #e7ff32 0%, #92ff32 50%, #4c4c4c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #e7ff32 0%,#92ff32 50%,#4c4c4c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #e7ff32 0%,#92ff32 50%,#4c4c4c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	color: white;
}


#latest .body .column:nth-child(3) .bg-square .cart{
	width: 94px;
	height: 94px;
	border: 10px solid white;
	position: absolute;
	top: -47px;
	right: -47px;
	border-radius: 50%;
	background: #ee30f4; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ee30f4 0%, #291670 50%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ee30f4 0%,#291670 50%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #ee30f4 0%,#291670 50%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	color: white;
}


#latest .body .column .bg-square .cart .fas{
	font-size: 2rem;
	position: relative;
	top: 22px;
	left: -3px;
}


#latest .body .column .line{
	height: 2px;
	width: 20%;
	background: #6066f2;
	margin: 50px auto;
	display: inline-block;

}

#latest .body .column .price{
	color: #fea83b; 
	font-weight: 700;
	font-size: 2.3rem
	
}


#latest .footer{
	text-align: center;
	position: relative;
}



#latest .footer img{
	width: 40%;
	z-index: 1;	
	position: absolute;
	top: 0;
	left: 30%;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%) invert(100%);
	opacity: .1;
	transform: rotate(48deg) 
}

#latest .footer .info-box{
	position: relative;
	z-index: 2;	
	padding: 200px 0;
}



#latest .footer .info-box h2{
	color: #6066f2;
	font-size: 4rem;
	font-weight: 700;
	text-transform: capitalize;
	margin-bottom: 60px;
}


#latest .footer .info-box form {
	vertical-align: top;
	display: inline-block;
	margin: 0 auto;
}

#latest .footer .info-box .input-area {
  background: white;
  border-radius: 50px;
  display: inline-block;
  padding: 10px; 
  float: left;
}

#latest .footer .info-box .input-area .far {
  font-size: 2rem;
  position: relative;
  top: 7px;
  margin-left: 15px;
  color: #d5e2ea;
  }


#latest .footer .info-box .input-area:nth-child(1){
	height: 80px;
	margin-right: 50px;
}


#latest .footer .info-box .input-area input{
  background: white;
  border: none;
  padding: 10px;
  text-transform: uppercase;
  font-size: 1rem;
  width: 230px;
  }

 #latest .footer .info-box .input-area:nth-child(1) input{
	position: relative;
	top: 8px;
}


 #latest .footer .info-box .input-area:nth-child(1) .far{
	position: relative;
	top: 14px;
}


#latest .footer .info-box .input-area button {
  background: #6066f2;
  padding: 20px 50px;
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  border-radius: 50px; 
}


/*laptop*/
@media only screen and (max-width: 1215px) {
   
}


/*tablet*/
@media only screen and (max-width: 1023px) {
   #latest .header h1{
   	font-size: 3.5rem;
   }
   #latest .header .directions{
   	top: 18px;
   }
   #latest .body .column{
   	width: 50%;
   	margin-bottom: 150px;
   }
   #latest .footer img{
   	width: 50%;
   	top: 100px;
   	left: 30%;
   }
   #latest .footer .info-box form{
   	width: 80%;
   }
   #latest .footer .info-box .input-area .far {
    position: relative;
    top: 14px;
    margin-left: 0px;
    float: left;
    width: 15%;
    text-align: center;
	}
	#latest .footer .info-box .input-area input[type="email"] {
      width: 50%;
      float: left;
      position: relative;
      top: 12px;
	}
	#latest .footer .info-box .input-area button {
    background: #6066f2;
    padding: 20px 0;
    font-size: 1rem;
    width: 35%;
    float: left;
	}
	#latest .footer .info-box .input-area:nth-child(1){
		margin: 0;
		width: 50%;
	}
	#latest .footer .info-box .input-area:nth-child(1) input[type="text"]{
		margin: 0;
		width: 80%;
	}
	#latest .footer .info-box .input-area:nth-child(2){
		margin: 0;
		width: 50%;
	}
}

/*mobile*/
@media only screen and (max-width: 767px) {
    #latest .header {
   	text-align: center;
   }
   #latest .header h1{
   	font-size: 3rem;
   	text-align: center;
   	width: 100%;
   	max-width: none;
   }
   #latest .header .directions{
   	float: none;
   	position: static;
   	margin: 50px auto;
   	top: 0;
   }
   #latest .body .column{
   	width: 100%;
   	margin-bottom: 150px;
   }
   #latest .body .column:nth-child(1) .bg-square, #latest .body .column:nth-child(2) .bg-square, #latest .body .column:nth-child(3) .bg-square{
   	transform: scale(.8);
   }
   #latest .footer .info-box .input-area .far {
    position: relative;
    top: 14px;
    margin-left: 0px;
    float: left;
    width: 15%;
    text-align: center;
	}
	#latest .footer .info-box .input-area input[type="email"] {
      width: 50%;
      float: left;
      position: relative;
      top: 12px;
	}
	#latest .footer .info-box .input-area button {
    background: #6066f2;
    padding: 20px 0;
    font-size: 1rem;
    width: 35%;
    float: left;
	}
	#latest .footer .info-box .input-area:nth-child(1){
		margin: 0;
		width: 100%;
		margin-bottom: 50px;
	}
	
	#latest .footer .info-box .input-area:nth-child(2){
		margin: 0;
		width: 100%;
	}

}