@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url("reset.css");
@import url("top-jumbo.css");
@import url("header.css");
@import url("design-by.css");
@import url("color-collection.css");
@import url("blue-print.css");
@import url("latest.css");
@import url("footer.css");





/*
#fea83b orange
#6066f2 lightblue
#b286f8 purple
#4c44c1 blue
#e6cdf9 light purple
#
*/


/*begin container*/

.container{
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 20px;
}

.container-fluid{
	margin: 0 5%;
	padding: 0 20px;
}


.box-shadow-down{
	-webkit-box-shadow: 0px 17px 40px -10px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 17px 40px -10px rgba(0,0,0,0.3);
	box-shadow: 0px 17px 40px -10px rgba(0,0,0,0.3);
}

.box-shadow-center{
	-webkit-box-shadow: 0px 0px 65px 13px rgba(158,158,158,0.2);
	-moz-box-shadow: 0px 0px 65px 13px rgba(158,158,158,0.2);
	box-shadow: 0px 0px 65px 13px rgba(158,158,158,0.2);
}

input::placeholder{
	color: #d5e2ea;
}



/*laptop*/
@media only screen and (max-width: 1215px) {
   
}


/*tablet*/
@media only screen and (max-width: 1023px) {
   
}

/*mobile*/
@media only screen and (max-width: 767px) {
   
}